.bottom-sheet-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1005;
  touch-action: none;
}

.bottom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  will-change: transform;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 96%;
  z-index: 1006;
}

.bottom-sheet-content {
  font-family: Manrope, sans-serif;
  background-color: white;
  width: 100%;
  max-height: 96%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
}

.bottom-sheet-grip-indicator {
  height: 4px;
  width: 35px;
  background-color: #ccc;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 16px;
}

.bottom-sheet-car-image {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 20px;
}

.car-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 14px;
}

.car-detail {
  display: flex;
  position: relative;
  padding: 0 6px;
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}

.car-accessories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.accessories,
.functionalities {
  position: relative;
  padding-right: 20px;

  font-size: 12px;
  color: rgba(18, 20, 23, 0.5);
}
.accessories {
  margin-top: 8px;
}
.functionalities {
  margin-top: 4px;
  margin-bottom: 24px;
}
