.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 100%;
  gap: 15px;
  box-sizing: border-box;
}

.filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.filter-group label {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 8px;
}

.filters input,
.filters select {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 14px;
  outline: none;
  font-size: 18px;
  background-color: #f7f7fb;
  padding-left: 18px;
  color: #121417;
}
.mileage-group {
  display: flex;
  align-items: center;
  align-items: flex-start;
  color: #121417;
}

.mileage-inputs {
  display: flex;
  align-items: center;
  gap: -1px;
}

.input-mileage:first-child {
  border-radius: 14px 0 0 14px;
  border-right: none;
  margin-right: 0px;
}

.input-mileage:last-child {
  border-radius: 0 14px 14px 0;
  border-left: none;
}

.input-mileage::placeholder {
  color: #121417;
  padding: -4px 24px;
}

.divider {
  width: 1px;
  background-color: #dcdcdc;
  height: 40px;
}
.mileage-inputs,
.search-button {
  width: 100%;
}

.input-mileage {
  flex: 1;
  margin-right: 5px;
}

.input-mileage:last-child {
  margin-right: 0;
}

.search-button {
  width: 136px;
  height: 48px;
  font-size: 14px;
  padding: 14px 44px;
  background-color: #3470ff;
  color: white;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #2658c7;
}

@media (min-width: 768px) {
  .filters {
    flex-direction: row;
  }

  .filter-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #car-make {
    width: 224px;
  }

  #car-price {
    width: 125px;
  }

  .mileage-inputs {
    width: 320px;
  }

  .filters .filter-group:last-child {
    margin-right: 0;
  }

  .search-button {
    align-self: flex-end;
  }
}
