.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1005;
}

.modal-content {
  font-family: Manrope;
  background-color: white;
  padding: 40px;
  border-radius: 24px;
  position: relative;
  z-index: 1001;
  width: 540px;
  height: 750px;
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-car-image {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 14px;
  object-fit: cover;
}

.car-modal-car-make {
  font-size: 18px;
  font-weight: 500;
}

.car-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 14px;
}

.car-detail {
  display: flex;
  position: relative;
  padding: 0 6px;
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}

.car-detail:first-child {
  padding-left: 0;
}

.car-detail:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: 0;
  color: #666;
}

.modal-car-description {
  font-size: 14px;
  margin-bottom: 24px;
}

.car-accessories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.accessories,
.functionalities {
  position: relative;
  padding-right: 20px;

  font-size: 12px;
  color: rgba(18, 20, 23, 0.5);
}
.accessories {
  margin-top: 8px;
}
.functionalities {
  margin-top: 4px;
  margin-bottom: 24px;
}

.modal-car-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.modal-car-conditions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.rental-condition {
  font-size: 12px;
  padding: 7px 14px;
  border-radius: 35px;
  background: #f9f9f9;
  white-space: nowrap;
}

.age-highlight {
  color: #3470ff;
}

.rental-button {
  width: 168px;
  left: 40px;
  padding: 12px;
  border-radius: 12px;
  background-color: #3470ff;
  display: inline-block;
  margin-top: 24px;
  text-align: center;
}

.rental-link {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  display: block;
}
